In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
ECOR_Railway= pd.read_csv('FEB 2025 Prototype data/ECOR.csv')

In [41]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
ECOR_Railway.head(2)

,Time,Site Name,Point Machine Name,Direction,A Current,A Voltage,B Current,B Voltage,Type of A,Type of B,Polling of A,Polling of B
0,2025-02-10 10:08:34,Cuttack,PT101,Reverse,"0.0,4.7,4.2,3.1,2.4,1.4,1.7,1.7,1.7,1.6,1.5,1....","0.0,10.5,54.0,82.5,97.5,102.0,91.5,96.0,99.0,1...","0.0,4.5,4.1,3.0,2.3,1.4,1.5,1.6,1.7,1.8,1.8,1....","0.0,12.0,52.5,82.5,97.5,105.0,94.5,94.5,97.5,9...",TWS,TWS,100,100.0
1,2025-02-10 10:14:51,Cuttack,PT101,Normal,"0.0,4.2,4.2,2.6,2.1,2.0,1.8,1.7,1.7,1.7,1.7,1....","0.0,30.0,66.0,85.5,84.0,91.5,97.5,102.0,103.5,...","0.0,3.7,4.1,2.9,2.5,2.1,1.8,1.7,1.7,1.8,2.0,2....","0.0,24.0,58.5,73.5,85.5,94.5,99.0,102.0,103.5,...",TWS,TWS,100,100.0

In [4]:
# Identify rows where 'Type of A' or 'Type of B' is 'IRS'
irs_rows = ECOR_Railway[(ECOR_Railway['Type of A'] == 'IRS') | (ECOR_Railway['Type of B'] == 'IRS')]

# Display only the first 10 rows
irs_rows.head(1)

,Time,Site Name,Point Machine Name,Direction,A Current,A Voltage,B Current,B Voltage,Type of A,Type of B,Polling of A,Polling of B
4721,2025-02-10 13:20:36,Cuttack,PT105,Reverse,"0.0,4.4,4.4,3.4,2.8,2.4,2.1,1.9,1.7,1.6,1.5,1....","0.0,39.0,72.0,90.0,100.5,105.0,108.0,109.5,111...","0.0,0.0","0.0,0.0",IRS,NaN,100,NaN

In [5]:
# Remove rows where 'Type of A' or 'Type of B' is 'IRS'
ECOR_Railway = ECOR_Railway[(ECOR_Railway['Type of A'] != 'IRS') & (ECOR_Railway['Type of B'] != 'IRS')]

In [6]:
missing_data = ECOR_Railway.isnull().sum()
missing_data

Time                      0
Site Name                 0
Point Machine Name        0
Direction                 0
A Current               275
A Voltage               275
B Current               275
B Voltage               275
Type of A                 0
Type of B             21444
Polling of A              0
Polling of B          21444
dtype: int64

In [7]:

# Fill missing values in 'Type of B' with 'TWS' and 'Polling of B' with 100
ECOR_Railway['Type of B'] = ECOR_Railway['Type of B'].fillna('TWS')
ECOR_Railway['Polling of B'] = ECOR_Railway['Polling of B'].fillna(100)


check= ECOR_Railway.isnull().sum()
check

Time                    0
Site Name               0
Point Machine Name      0
Direction               0
A Current             275
A Voltage             275
B Current             275
B Voltage             275
Type of A               0
Type of B               0
Polling of A            0
Polling of B            0
dtype: int64

In [8]:
ECOR_Railway.to_csv(r"/Users/prathamhandique/Desktop/energy7/ECORextracted.csv", index=False)